#s-a02d1635-e2ee-448d-af4f-1c90423848bb #s-nav_bar {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=97);
  filter: alpha(opacity=97);
  -ms-transform: rotate(0.0deg);
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb #s-Label_87 {
  -ms-transform: rotate(0.0deg);
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb #s-Label_45 {
  -ms-transform: rotate(0.0deg);
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb #s-Label_213 {
  -ms-transform: rotate(0.0deg);
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb #s-Rich_text_33 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb #s-inbox_unread {
  -ms-transform: rotate(0.0deg);
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb #s-Rectangle_10 {
  -ms-transform: rotate(0.0deg);
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb #s-Label_97 {
  -ms-transform: rotate(0.0deg);
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb #s-Label_98 {
  -ms-transform: rotate(0.0deg);
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb #s-Label_99 {
  -ms-transform: rotate(0.0deg);
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb #s-Ellipse_33 {
  -ms-transform: rotate(0.0deg);
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb #s-Ellipse_34 {
  -ms-transform: rotate(0.0deg);
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb #s-Ellipse_35 {
  -ms-transform: rotate(0.0deg);
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb #s-Ellipse_36 {
  -ms-transform: rotate(0.0deg);
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb #s-Ellipse_37 {
  -ms-transform: rotate(0.0deg);
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb #s-Label_106 {
  -ms-transform: rotate(0.0deg);
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb #s-img_tab {
  -ms-transform: rotate(180.0deg);
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb #s-Label-blue {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=96);
  filter: alpha(opacity=96);
  -ms-transform: rotate(0.0deg);
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb #s-Label-blue_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=96);
  filter: alpha(opacity=96);
  -ms-transform: rotate(0.0deg);
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb #s-Label-blue_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=96);
  filter: alpha(opacity=96);
  -ms-transform: rotate(0.0deg);
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb #s-Label-blue_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=91);
  filter: alpha(opacity=91);
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}