#s-a02d1635-e2ee-448d-af4f-1c90423848bb #s-nav_bar {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=97) ;
  filter: alpha(opacity=97) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb #s-Label_87 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb #s-Label_45 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb #s-Label_213 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb #s-Rich_text_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb #s-inbox_unread {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb #s-Label_97 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb #s-Label_98 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb #s-Label_99 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb #s-Ellipse_33 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb #s-Ellipse_34 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb #s-Ellipse_35 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb #s-Ellipse_36 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb #s-Ellipse_37 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb #s-Label_106 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb #s-img_tab {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.0,M12=-1.2246467991473532E-16,M21=1.2246467991473532E-16,M22=-1.0);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.0,M12=-1.2246467991473532E-16,M21=1.2246467991473532E-16,M22=-1.0);
  margin-left: -1px;
  margin-top: -1px;
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb #s-Label-blue {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=96) ;
  filter: alpha(opacity=96) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb #s-Label-blue_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=96) ;
  filter: alpha(opacity=96) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb #s-Label-blue_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=96) ;
  filter: alpha(opacity=96) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb #s-Label-blue_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=91) ;
  filter: alpha(opacity=91) ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}