#s-d7b5174c-f6d9-4f1c-9e6c-7b1480edb037 #s-Panel_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-d7b5174c-f6d9-4f1c-9e6c-7b1480edb037 #s-Label_213 {
  -ms-transform: rotate(0.0deg);
}
#s-d7b5174c-f6d9-4f1c-9e6c-7b1480edb037 #s-nav_bar {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=97);
  filter: alpha(opacity=97);
  -ms-transform: rotate(0.0deg);
}
#s-d7b5174c-f6d9-4f1c-9e6c-7b1480edb037 #s-Label_87 {
  -ms-transform: rotate(0.0deg);
}
#s-d7b5174c-f6d9-4f1c-9e6c-7b1480edb037 #s-Label_45 {
  -ms-transform: rotate(0.0deg);
}
#s-d7b5174c-f6d9-4f1c-9e6c-7b1480edb037 #s-You_tab {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #157EFB;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #157EFB;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #157EFB;
  border-radius: 5px 0px 0px 5px;
  padding-top: 3px;
  padding-right: 0px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 96px;
  height: 23px;
  -ms-transform: rotate(0.0deg);
}
#s-d7b5174c-f6d9-4f1c-9e6c-7b1480edb037 #s-All_tab {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #157EFB;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #157EFB;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #157EFB;
  border-radius: 0px 5px 5px 0px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 0px;
  width: 94px;
  height: 23px;
  -ms-transform: rotate(0.0deg);
}
#s-d7b5174c-f6d9-4f1c-9e6c-7b1480edb037 #s-Label_275 {
  -ms-transform: rotate(0.0deg);
}
#s-d7b5174c-f6d9-4f1c-9e6c-7b1480edb037 #s-Label_286 {
  -ms-transform: rotate(0.0deg);
}
#s-d7b5174c-f6d9-4f1c-9e6c-7b1480edb037 #s-inbox_unread {
  -ms-transform: rotate(0.0deg);
}
#s-d7b5174c-f6d9-4f1c-9e6c-7b1480edb037 #s-Rectangle_10 {
  -ms-transform: rotate(0.0deg);
}
#s-d7b5174c-f6d9-4f1c-9e6c-7b1480edb037 #s-Label_97 {
  -ms-transform: rotate(0.0deg);
}
#s-d7b5174c-f6d9-4f1c-9e6c-7b1480edb037 #s-Label_98 {
  -ms-transform: rotate(0.0deg);
}
#s-d7b5174c-f6d9-4f1c-9e6c-7b1480edb037 #s-Label_99 {
  -ms-transform: rotate(0.0deg);
}
#s-d7b5174c-f6d9-4f1c-9e6c-7b1480edb037 #s-Ellipse_33 {
  -ms-transform: rotate(0.0deg);
}
#s-d7b5174c-f6d9-4f1c-9e6c-7b1480edb037 #s-Ellipse_34 {
  -ms-transform: rotate(0.0deg);
}
#s-d7b5174c-f6d9-4f1c-9e6c-7b1480edb037 #s-Ellipse_35 {
  -ms-transform: rotate(0.0deg);
}
#s-d7b5174c-f6d9-4f1c-9e6c-7b1480edb037 #s-Ellipse_36 {
  -ms-transform: rotate(0.0deg);
}
#s-d7b5174c-f6d9-4f1c-9e6c-7b1480edb037 #s-Ellipse_37 {
  -ms-transform: rotate(0.0deg);
}
#s-d7b5174c-f6d9-4f1c-9e6c-7b1480edb037 #s-Label_106 {
  -ms-transform: rotate(0.0deg);
}
#s-d7b5174c-f6d9-4f1c-9e6c-7b1480edb037 #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-d7b5174c-f6d9-4f1c-9e6c-7b1480edb037 #s-Label_214 {
  -ms-transform: rotate(0.0deg);
}
#s-d7b5174c-f6d9-4f1c-9e6c-7b1480edb037 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
}
#s-d7b5174c-f6d9-4f1c-9e6c-7b1480edb037 #s-All_tab_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #157EFB;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #157EFB;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #157EFB;
  border-radius: 0px 5px 5px 0px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 0px;
  width: 94px;
  height: 23px;
  -ms-transform: rotate(0.0deg);
}
#s-d7b5174c-f6d9-4f1c-9e6c-7b1480edb037 #s-Label_171 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-d7b5174c-f6d9-4f1c-9e6c-7b1480edb037 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}