#s-a02d1635-e2ee-448d-af4f-1c90423848bb > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb #s-nav_bar {
  position: absolute;
  top: 21px;
  left: 0px;
  width: 375px;
  height: 42px;
  background-color: #666510;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  opacity: 0.97;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb #s-nav_bar .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb #s-nav_bar span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb #s-nav_bar span#rtr-s-nav_bar_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb #s-Label_87 {
  position: absolute;
  top: 28px;
  left: 107px;
  width: 163px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 13.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb #s-Label_87 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb #s-Label_87 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 13.0pt;
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb #s-Label_87 span#rtr-s-Label_87_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 13.0pt;
  line-height: 0px;
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb #s-Label_45 {
  position: absolute;
  top: 30px;
  left: 338px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb #s-Label_45 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb #s-Label_45 span {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb #s-Label_45 span#rtr-s-Label_45_0 {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb #s-Dynamic_Panel_1 {
  position: absolute;
  top: 30px;
  left: 301px;
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb #s-Panel_1 {
  width: 31px;
  height: 31px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb #s-Panel_1 .verticalalign {
  vertical-align: top;
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb #s-Label_213 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb #s-Label_213 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb #s-Label_213 span {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb #s-Label_213 span#rtr-s-Label_213_0 {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb #s-Rich_text_33 {
  position: absolute;
  top: 64px;
  left: 0px;
  width: 375px;
  height: 51px;
  background-color: #F6F6F6;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb #s-Rich_text_33 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb #s-Rich_text_33 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb #s-Rich_text_33 span#rtr-s-Rich_text_33_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb #s-inbox_unread .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 14px;
  height: 14px;
  position: absolute;
  overflow: hidden;
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb #s-inbox_unread .content {
  width: 14px;
  height: 14px;
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb #s-inbox_unread {
  position: absolute;
  top: 24px;
  left: 323px;
  width: 14px;
  height: 14px;
  background-color: #FF0000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb #shapewrapper-s-inbox_unread .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb #shapewrapper-s-inbox_unread span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb #shapewrapper-s-inbox_unread span#rtr-s-inbox_unread_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb #s-Statusbar-black {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 20px;
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb #s-Rectangle_10 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 19px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb #s-Rectangle_10 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb #s-Rectangle_10 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb #s-Rectangle_10 span#rtr-s-Rectangle_10_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb #s-Label_97 {
  position: absolute;
  top: 3px;
  left: 41px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb #s-Label_97 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb #s-Label_97 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 12.0pt;
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb #s-Label_97 span#rtr-s-Label_97_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb #s-Label_98 {
  position: absolute;
  top: 4px;
  left: 299px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb #s-Label_98 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb #s-Label_98 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 11.0pt;
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb #s-Label_98 span#rtr-s-Label_98_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb #s-Label_99 {
  position: absolute;
  top: 0px;
  left: 149px;
  width: 78px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb #s-Label_99 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb #s-Label_99 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb #s-Label_99 span#rtr-s-Label_99_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb #s-Group_24 {
  position: absolute;
  top: 7px;
  left: 4px;
  width: 34px;
  height: 6px;
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb #s-Ellipse_33 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb #s-Ellipse_33 .content {
  width: 6px;
  height: 6px;
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb #s-Ellipse_33 {
  position: absolute;
  top: 0px;
  left: 21px;
  width: 6px;
  height: 6px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb #shapewrapper-s-Ellipse_33 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb #shapewrapper-s-Ellipse_33 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb #shapewrapper-s-Ellipse_33 span#rtr-s-Ellipse_33_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb #s-Ellipse_34 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb #s-Ellipse_34 .content {
  width: 6px;
  height: 6px;
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb #s-Ellipse_34 {
  position: absolute;
  top: 0px;
  left: 28px;
  width: 6px;
  height: 6px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb #shapewrapper-s-Ellipse_34 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb #shapewrapper-s-Ellipse_34 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb #shapewrapper-s-Ellipse_34 span#rtr-s-Ellipse_34_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb #s-Ellipse_35 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb #s-Ellipse_35 .content {
  width: 6px;
  height: 6px;
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb #s-Ellipse_35 {
  position: absolute;
  top: 0px;
  left: 14px;
  width: 6px;
  height: 6px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb #shapewrapper-s-Ellipse_35 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb #shapewrapper-s-Ellipse_35 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb #shapewrapper-s-Ellipse_35 span#rtr-s-Ellipse_35_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb #s-Ellipse_36 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb #s-Ellipse_36 .content {
  width: 6px;
  height: 6px;
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb #s-Ellipse_36 {
  position: absolute;
  top: 0px;
  left: 7px;
  width: 6px;
  height: 6px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb #shapewrapper-s-Ellipse_36 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb #shapewrapper-s-Ellipse_36 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb #shapewrapper-s-Ellipse_36 span#rtr-s-Ellipse_36_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb #s-Ellipse_37 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb #s-Ellipse_37 .content {
  width: 6px;
  height: 6px;
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb #s-Ellipse_37 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 6px;
  height: 6px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb #shapewrapper-s-Ellipse_37 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb #shapewrapper-s-Ellipse_37 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb #shapewrapper-s-Ellipse_37 span#rtr-s-Ellipse_37_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb #s-Label_106 {
  position: absolute;
  top: 1px;
  left: 302px;
  width: 50px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb #s-Label_106 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb #s-Label_106 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb #s-Label_106 span#rtr-s-Label_106_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb #s-Image_8 {
  position: absolute;
  top: 5px;
  left: 342px;
  width: 25px;
  height: 10px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb #s-img_tab {
  position: absolute;
  top: 64px;
  left: 1px;
  width: 375px;
  height: 52px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
  box-shadow: none;
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb #s-Label-blue {
  position: absolute;
  top: 72px;
  left: 4px;
  width: 125px;
  height: 33px;
  background-color: #FFFFFF;
  background-image: none;
  opacity: 0.96;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 27px;
  font-size: 14.0pt;
  font-family: Roboto-Light,Arial;
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb #s-Label-blue .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb #s-Label-blue span {
  color: #157EFB;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 14.0pt;
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb #s-Label-blue span#rtr-s-Label-blue_0 {
  color: #157EFB;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb #s-Label-blue_1 {
  position: absolute;
  top: 72px;
  left: 126px;
  width: 125px;
  height: 33px;
  background-color: #FFFFFF;
  background-image: none;
  opacity: 0.96;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 27px;
  font-size: 14.0pt;
  font-family: Roboto-Light,Arial;
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb #s-Label-blue_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb #s-Label-blue_1 span {
  color: #157EFB;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 14.0pt;
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb #s-Label-blue_1 span#rtr-s-Label-blue_1_0 {
  color: #157EFB;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb #s-Label-blue_2 {
  position: absolute;
  top: 72px;
  left: 245px;
  width: 125px;
  height: 33px;
  background-color: #FFFFFF;
  background-image: none;
  opacity: 0.96;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 27px;
  font-size: 14.0pt;
  font-family: Roboto-Light,Arial;
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb #s-Label-blue_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb #s-Label-blue_2 span {
  color: #157EFB;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 14.0pt;
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb #s-Label-blue_2 span#rtr-s-Label-blue_2_0 {
  color: #157EFB;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb #s-Image_1 {
  position: absolute;
  top: 123px;
  left: 5px;
  width: 366px;
  height: 136px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 1px 1px 5px 0px #404040;
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb #s-Image_2 {
  position: absolute;
  top: 268px;
  left: 5px;
  width: 366px;
  height: 136px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 1px 1px 5px 0px #404040;
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb #s-Image_3 {
  position: absolute;
  top: 411px;
  left: 5px;
  width: 365px;
  height: 136px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 1px 1px 5px 0px #404040;
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb #s-Label-blue_3 {
  position: absolute;
  top: 513px;
  left: 5px;
  width: 338px;
  height: 33px;
  background-color: #FFFFFF;
  background-image: none;
  opacity: 0.91;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 27px;
  font-size: 14.0pt;
  font-family: Roboto-Light,Arial;
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb #s-Label-blue_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb #s-Label-blue_3 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 14.0pt;
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb #s-Label-blue_3 span#rtr-s-Label-blue_3_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-a02d1635-e2ee-448d-af4f-1c90423848bb > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}